.idea\*
.idea/misc.xml
.idea/modules.xml
.idea/Nexus.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
.idea/sqldialects.xml
*.xml
*.meta
.idea/dataSources/e52d5178-b603-490e-acb3-6beb99b4584a/storage_v2/_src_/database/nexusmods.MPZYSw/schema/pg_catalog.0S1ZNQ.zip

settings.inc