# Fill in the details below, remove this line and rename this file to settings.json
{
  "endpoint": "https://www.tdpain.net/nexusapi/",
  "auth_key": "put your internal auth key here",
  "game": "skyrim",
  "download_folder": "downloads",
  "nexus_keys": [
    "put your nexus api keys in this list here"
  ],
  "rclone": {
    "enable": true,
    "remote_name": "target rclone remote",
    "directory": "downloads",
    "show_progress": false
  }
}